<div class="row" >
    <h1 class="text-primary" style="text-align: center;">ADMIN PAGE</h1>
    <nav aria-label="...">
        <div style="margin-left: 500px;"><ul class="pagination pagination-lg ">
          <li class="page-item active " aria-current="page">
            <span class="page-link">ADMIN</span>
          </li>
          <li class="page-item"><a class="page-link"  routerLink="/login">Login</a></li>
        </ul>
    </div>
      </nav>
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
        
          <form>
            <div class="form-group">
              <label for="username">Username : </label>
              <input type="text" name="email" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password : </label>
              <input type="password" name="password" class="form-control" placeholder="********" >
             
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-primary"  value="Login">
            </div>
          </form>
         
          
          
        </div>
      </div>
    </div>
  </div>