.row{
     margin: 30px;
     width: 95%;
     display: flex;
     align-items: center;
     border-radius: 5px;
     background-color: #F8F9FA;
 }
 .img{
     padding: 15px;
 }
 .info{
     padding: 20px 0 20px 20px;
     width: 105px;
 }
 .theatre-btn{
     cursor: pointer;
     display: block;
     border: none;
     border-radius: 5px;
     background-color: #4285F4;
     font-weight: lighter;
     color: white;
     padding: 12px;
 }