<div>
  <div class="container">
    <div> <button class="btn-submit btn-danger mt-4  border-rounded-2" routerLink="/login">logout</button>
    </div>
    <div class="row mat-elevation-z3" *ngFor="let m of movie">
      <div class="col-md-4 img">
        <img
          src="{{ m.imageurl }}"
          class="card-img-top"
          style="height: 250px"
          alt="..."
        />
      </div>
      <div class="col info">
        <h2>Movie Name -</h2>
        <h2>Movie Genre -</h2>
        <h2>Ticket Price -</h2>
      </div>
      <div class="col info">
        <h2>{{ m.title }}</h2>
        <h2>{{ m.genre }}</h2>
        <h2>₹ {{ m.price }}</h2>
      </div>
      <div class="col info">
        <button class="theatre-btn" (click)="bookShow(m.movieid)">
          Select Theatre
        </button>
      </div>
    </div>
  </div>
</div>
