<div class="example">
    <mat-toolbar class="navBar">
        <span class="spacer"></span>
        <button class="titleButton" routerLink="/login">SignIn</button>
        <button class="titleButton" routerLink="/sign-up">SignUp</button>
    </mat-toolbar>
</div>
<div class="started">
    <button class="btn-started" routerLink="/sign-up">
        Get Started&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-arrow-circle-right"></i>
    </button>
</div>
<div style="position: relative;">
    <img src="../../assets/landing-bg.jpg" width="100%">
</div>